@model WebApplication1.Models.tblLogin

@{
    ViewBag.Title = "Details";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>USUARIO</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .titulo {
            color: midnightblue;
            font-family: 'Bookman Old Style';
            font-size: 35px;
            margin-left: 220PX;
        }

        input,
        select,
        textarea {
            width: 420px;
            height: auto;
        }
    </style>

</head>
<body>


@if (User.Identity.IsAuthenticated)
{
    <h2 class="titulo">BIENVENIDO ADMINISTRADOR: @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest") </h2>
        <a href="@Url.Action("SignOut", "Home")">Logout</a>


    <div class="container">

        <div class="row">
            <div class="panel panel-success" style="width:80em; height: 34.5em; margin-left: -0.1em; padding: 1em; padding-top: -1EM;  margin-top: 1em; ">

                <div class="panel-body" style="width: 50em; margin-left: 0em; margin-top: 0em;  padding: 5px 10px;">

                    <div>

                        <div>

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Username)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Username)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Password)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Password)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Role)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Role)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.id_user }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1>Intento de Acceso Incorrecto</h1>
    <h2> Autentícate Primero</h2>
    <a href="@Url.Action("Login", "Home")">Página de Inicio</a>
}
</body>
</html>
